<div class="container" style="padding-top: 80px">
  <div id="d4k_main">
    <h1>Apprendre aux enfants à programmer!</h1>
	<h2 style="padding-left: 350px; padding-bottom: 30px">ou Wajug organise Devoxx4Kids</h2>

		<div>
			<p><i>"Vos enfants jouent à des jeux sur l'ordinateur. Bientôt ils pourront faire leurs propres jeux!"</i><br/>
				Inscrivez vos enfants à la journée d'initiation du samedi 8 février, et ils apprendront à programmer des jeux et des robots!</p>
			<p>Programmer c’est écrire des instructions pour un ordinateur afin de faire des jeux, comme Angry Birds, mais aussi des applications, des sites webs, etc.
			En apprenant à programmer, vos enfants pourront eux-mêmes créer de telles choses.
			Et qui sait, peut-être l’un d’eux deviendra-t-il le prochain Mark Zuckerberg, créateur de Facebook!</p>
		</div>

		<div class="row-fluid">
		<div class="span7">
		<h4>Comment s'inscrire?</h4>
		<div id="registerChildForm" style="min-height: 40px;">
      <script src="http://cdn.jotfor.ms/static/feedback2.js?3.1.1745" type="text/javascript">
      </script>
      <script>
        function initRegisterChildForm() {
          var registerChildForm = $("#registerChildForm");
          if (window["JotformFeedback"] !== undefined) {
            new JotformFeedback({
              formId:'33597708620865',
              base:'http://jotformeu.com/',
              windowTitle:'Inscription',
              background:'red',
              fontColor:'#FFFFFF',
              type:false,
              height:500,
              width:700
            });
            var a = $('<input type="button" class="btn btn-success lightbox-33597708620865" value="Remplir ce formulaire"/>');
            a.hide();
            registerChildForm.append(a);

            registerChildForm.find(".wait").slideUp('slow');

            setTimeout(function() {
              a.slideDown("slow");
            }, 1000);

          } else {
            setTimeout(initRegisterChildForm, 1);
          }
        }
        setTimeout(initRegisterChildForm, 0);
      </script>
      <span class="alert alert-warn wait">En attente du formulaire</span>
    </div>
		<div class="alert alert-warn"><small>Afin d'encadrer au mieux les enfants, les places sont limitées aux 30 premières inscriptions.</small></div>

		<h4>Qui?</h4>
		<div>Ce stage s'adresse aux enfants de 10 à 14 ans.</div>
		<div>Aucune connaissance préalable en informatique n'est nécessaire, c'est la motivation et l'envie d'apprendre qui priment.</div>

		<h4>Quand?</h4>
		<div>Le samedi 8 février 2014, de 9h00 à 14h30.</div>

		<h4>Où?</h4>
		<div>A l'Institut Saint-Laurent</div>
		<div>Rue Saint-Laurent</div>
		<div>4000 Liège</div>
		<div>Le plan d'accès et les possibilités de parking vous seront communiqués prochainement.</div>

		<h4>Combien?</h4>
		<div>10€ vous seront demandés en guise de participation aux frais, tels que assurances, snacks et boissons fournies pendant l'activité. </div>


	</div>
    <div id="d4k_vids" class="span5">
      <h3>Ambiance au Devoxx4Kids</h3>
      <a href="http://www.devoxx.com/display/4KIDS/Home" target="_blank"><img src="assets/images/d4k/sponsors/devoxx4kids.png"/></a>

	 		<iframe src="//player.vimeo.com/video/81414450?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

			<p>Ça vous tente? Alors inscrivez-vous et <a href="http://www.facebook.com/wajug.be">parlez en autour de vous!</a></p>
    </div>
</div>


		<h4>Qui sommes-nous?</h4>
		<div>Le WAJUG est un groupe d’utilisateurs qui se rencontrent régulièrement pour parler de leur passion: la programmation, et tout ce qui touche au développement de logiciels, applications, sites webs, etc. Pour toutes vos questions et remarques, contactez nous via les reseaux sociaux (<a href="https://twitter.com/wajug">Twitter</a>, <a href="https://www.facebook.com/wajug.be">Facebook</a>) ou par mail: <a href="mailto:info@wajug.be">info@wajug.be</a></div>



    <div id="d4k_parctical_info">&nbsp;</div>

    <div id="d4k_registration">&nbsp;</div>

    <div id="d4k_sessions">
    <div class="well">
      <div class="row-fluid">
        <div class="span9">
          <h4>Les sessions prévues</h4>
          <tabset>
            <tab heading="Mindstorms">
              <strong>Plus d'infos à venir sur les Lego Mindstorms...</strong>
            </tab>
            <tab heading="Scratch">
              <strong>Plus d'infos à venir sur les Scratch...</strong>
            </tab>
            <tab heading="Nao">
              <strong>Plus d'infos à venir sur les robots Nao...</strong>
            </tab>
          </tabset>
        </div>
        <div class="span3">
          <h4>Les animateurs</h4>
          <a ng-click="joinUsForm = !joinUsForm" class="btn btn-success btn-block btn-mini d4k_joinus">Vous aussi?</a>
          <carousel interval="trainersInterval">
            <slide style="min-height:245px" ng-repeat="e in trainers" active="e.active">
              <img ng-src="{{e.image}}" style="margin:auto;">
              <div class="carousel-caption">
                <h4>{{e.name}}</h4>
                <p>{{e.text}}</p>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
      <div class="row-fluid">
        <iframe src="https://docs.google.com/forms/d/1uXfmtAhrbh6KMX_WvqtEBzt-UFc7b8lheLr79-WYk-U/viewform?embedded=true" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0" ng-show="joinUsForm">Loading...</iframe>
      </div>
    </div>
  </div>
  <div id="d4k_sponsors">
    <h2>Les sponsors pour cet event</h2>
    <div class="sponsors">
      <div ng-repeat="sponsor in sponsors" class="sponsor" title="Click to flip">
        <div class="sponsorFlip">
          <img src="assets/images/d4k/sponsors/{{sponsor.image}}" alt="More about {{sponsor.name}}" style="width:150px" />
        </div>
        <div class="sponsorData">
          <div class="sponsorDescription" ng-bind-html-unsafe="translate(sponsor.description)"></div>
          <div class="sponsorURL"><a href="http://{{sponsor.site}}" target="_blank">{{sponsor.name}}</a></div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function onlyTheseSponsors() {
      if ($("#d4k_sponsors").length == 0) {
        $("footer").show();
      } else {
        if ($("footer:visible").length > 0 && $("#d4k_sponsors").length > 0) {
          $("footer:visible").hide();
        }
        setTimeout(onlyTheseSponsors, 1000);
      }
    };
    setTimeout(onlyTheseSponsors, 1000);
  </script>
</div>