<div class="container" style="padding-top: 80px">
  <div id="d4k_main">
    <h1>Apprendre aux enfants à programmer!</h1>
	<h2 style="padding-left: 250px; padding-bottom: 30px">Wajug organise Devoxx4Kids Liège 2016</h2>

		<div>
			<p><i>"Vos enfants jouent à des jeux sur l'ordinateur. Bientôt ils pourront faire leurs propres jeux!"</i><br/>
				Inscrivez vos enfants à la journée d'initiation du samedi 30 janvier 2016, et ils apprendront à programmer des jeux et des robots!</p>
			<p>Programmer c’est écrire des instructions pour un ordinateur afin de faire des jeux, comme Angry Birds, mais aussi des applications, des sites web, etc.
			En apprenant à programmer, vos enfants pourront eux-mêmes créer de telles choses.
			Et qui sait, peut-être l’un d’eux deviendra-t-il le prochain Mark Zuckerberg, créateur de Facebook!</p>
			<p>Forts du succès des années précédentes, nous vous avons préparé une édition 2016 qui, nous l'espérons, sera encore mieux. Au programme: plus de places, plus d'ateliers, mais aussi de nouveaux robots sympas tels les Sphéros.</p>
		</div>

		<style type="text/css">
		.teaser-images {
				padding-top: 20px;
				padding-bottom: 40px;
			}
		.thumbnail {
			    border: 0 none;
			    box-shadow: none;
			}			
		</style>

		<div class="row-fluid">
			<div class="teaser-images">
				<div class="span6">
					<img src="assets/images/d4k/nao.jpg"/>
				</div>
				<div class="span6">
					<img src="https://brandfolder.com/sphero2/assets/tsdiae1j"alt="Sphero 4-Color Glow"/>
				</div>
			</div>
		</div>

		<div class="row-fluid">
		<div class="span7">
		<h4>Comment s'inscrire?</h4>
		<div id="registerChildForm" style="min-height: 40px;">
      <script src="http://cdn.jotfor.ms/static/feedback2.js?3.1.1745" type="text/javascript">
      </script>
      <script>
        function initRegisterChildForm() {
          var registerChildForm = $("#registerChildForm");
          if (window["JotformFeedback"] !== undefined) {
            new JotformFeedback({
              formId:'50014097557353',
              base:'http://jotformeu.com/',
              windowTitle:'Inscription Devoxx4Kids@Wajug 2015',
              background:'red',
              fontColor:'#FFFFFF',
              type:false,
              height:500,
              width:700
            });
            var a = $('<input type="button" class="btn btn-success lightbox-50014097557353" value="Remplir ce formulaire"/>');
            a.hide();
            registerChildForm.append(a);

            registerChildForm.find(".wait").slideUp('slow');

            setTimeout(function() {
              a.slideDown("slow");
            }, 1000);

          } else {
            setTimeout(initRegisterChildForm, 1);
          }
        }
        // CLOTURE DES INSCRIPTIONS >> setTimeout(initRegisterChildForm, 0);
        //setTimeout(initRegisterChildForm, 0);
      </script>
		<!--
      <span class="alert alert-warn wait">En attente du formulaire</span>
			-->
      <!-- CLOTURE <span class="alert alert-warn wait">En attente du formulaire</span>-->
    </div>
    <div class="alert alert-info">
      <strong>Les inscriptions seront ouvertes mi-décembre. 
		  <br/>Restez branché...</strong>
	  <!--
	  <strong>Nous sommes désolé, toutes les places ont déjà été réservées pour cette session.</strong>
      <span>Toutefois, nous répondrons à toutes vos questions sur cet email <a href="mailto:info@wajug.be">info@wajug.be</a>.</span>
		  -->
		  <!--
      <small>Si le formulaire ne s'affiche pas après avoir cliqué sur le bouton ci-dessus, rafraichissez la page et réessayez svp.</small>
		  -->
    </div>
	<!--
		<div class="alert alert-info">
			<p>Afin d'encadrer au mieux les enfants, les places sont limitées aux 60 premières inscriptions.</p>
				<p><strong>Pour les inscrits, nous vous rapellons que :</strong><br/>
				Votre inscription ne sera prise en compte qu'une fois un virement de 10&euro; aura été reçu sur le compte BE04 0013 4956 4131. En communication, merci de préciser <em>Stage wajug</em>, suivi du <strong>nom</strong> et <strong>prénom</strong> de votre enfant.</p>
		</div>
-->
		
		<h4>Qui?</h4>
		<div>Ce stage s'adresse aux enfants de 9 à 15 ans.</div>
		<div>Aucune connaissance préalable en informatique n'est nécessaire, c'est la motivation et l'envie d'apprendre qui priment.</div>

		<h4>Quand?</h4>
		<div>Le samedi 30 janvier 2016, de 9h00 à 16h00.</div>

		<h4>Où?</h4>
		<div><a href="http://www.isl.be/">A l'Institut Saint-Laurent EPS</a></div>
		<div>Enseignement de Promotion Sociale</div>
		<div>Rue Saint-Laurent, 33</div>
		<div>4000 Liège</div>
		<div>Plan d'accès: <a href="http://www.isl.be/contact/acces.php">http://www.isl.be/contact/acces.php</a></div>
		<div>Possibilités de parking sur la droite en descendant la rue Saint-Laurent, juste après Saint-Laurent.</div>

		<h4>Combien?</h4>
		<div>10€ vous seront demandés en guise de participation aux frais, tels que assurances, snacks et boissons fournies pendant l'activité. </div>


	</div>
    <div id="d4k_vids" class="span5">
      <h3>Ambiance au Devoxx4Kids</h3>
      <a href="http://www.devoxx.com/display/4KIDS/Home" target="_blank"><img src="assets/images/d4k/sponsors/devoxx4kids.png"/></a>

		  <iframe width="420" height="315" src="//www.youtube.com/embed/s-4QdJCQVCA" frameborder="0" allowfullscreen></iframe>

<!--
	 		<iframe src="//player.vimeo.com/video/51393678?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		  -->

			<p>Ça vous tente? Alors inscrivez-vous et <a href="http://www.facebook.com/wajug.be">parlez en autour de vous!</a></p>
    </div>
</div>


		<h4>Qui sommes-nous?</h4>
		<div>Le WAJUG est un groupe d’utilisateurs qui se rencontrent régulièrement en Wallonie pour parler de leur passion: la programmation, et tout ce qui touche au développement de logiciels, applications, sites web, etc. Pour toutes vos questions et remarques, contactez nous via les reseaux sociaux (<a href="https://twitter.com/wajug">Twitter</a>, <a href="https://www.facebook.com/wajug.be">Facebook</a>) ou par mail: <a href="mailto:info@wajug.be">info@wajug.be</a></div>



    <div id="d4k_parctical_info">&nbsp;</div>

    <div id="d4k_registration">&nbsp;</div>

    <div id="d4k_sessions">
    <div class="well">
      <div class="row-fluid">
        <div class="span9">
          <h4>Les sessions prévues</h4>
          <tabset>
            <tab heading="Sphéro">
              <strong>Plus d'infos à venir sur Sphéro...</strong>
            </tab>
            <tab heading="Scratch + LeapMotion">
              <strong>Plus d'infos à venir sur Scratch et LeapMotion...</strong>
            </tab>
            <tab heading="Nao">
              <strong>Plus d'infos à venir sur les robots Nao...</strong>
            </tab>
            <tab heading="Minecraft modding">
              <strong>Plus d'infos à venir sur Minecraft...</strong>
            </tab>
            <tab heading="Code Combat">
              <div>
		<p>Code combat est un jeu <a href="https://github.com/codecombat/codecombat">open source</a> disponible sans installation sur le site 
		<a href="codecombat.com">codecombat.com</a>.</p>
		<p>Plusieurs modes de jeux sont possibles:
		<ul>
		<li>Anonyme: jouer seul sans se connecter avec un email et mot de passe</li>
		<li>Connecter: jouer seul mais en conservant une historique persnonnelle (requiert une adresse email)</li>
		<li>Multijoueur: jouer avec ou contre n'importe qui dans le monde (requiert d'être connecté)</li>
		<li><strong>Coin payant</strong>: certains avantages sont payant, mais heureusement complétement <strong>optionels</strong>!</li>
		</ul>
		</p>
		<p>Dans cette session, nous apprendrons les principes du <a href="http://fr.wikipedia.org/wiki/JavaScript">JavaScript</a> en combattant des monstres et ramassant des gemmes.
		</p>
		<p>Le <a href="http://fr.wikipedia.org/wiki/JavaScript">JavaScript</a> étant le <a href="http://fr.wikipedia.org/wiki/Langage_de_programmation">langage de programmation</a> nécessaire pour réaliser <strong>son propre site internet</strong>!</p>
              </div>
            </tab>
          </tabset>
        </div>
        <div class="span3">
          <h4>Les animateurs</h4>
          <a ng-click="joinUsForm = !joinUsForm" class="btn btn-success btn-block btn-mini d4k_joinus">Vous aussi?</a>
          <carousel interval="trainersInterval">
            <slide style="min-height:245px" ng-repeat="e in trainers" active="e.active">
              <img ng-src="{{e.image}}" style="margin:auto;">
              <div class="carousel-caption">
                <h4>{{e.name}}</h4>
                <p>{{e.text}}</p>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
      <div class="row-fluid">
        <iframe src="https://docs.google.com/forms/d/1uXfmtAhrbh6KMX_WvqtEBzt-UFc7b8lheLr79-WYk-U/viewform?embedded=true" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0" ng-show="joinUsForm">Loading...</iframe>
      </div>
    </div>
  </div>
  <div id="d4k_sponsors" class="row-fluid">
    <h2>Merci à nos sponsors</h2><br/>
	<ul class="thumbnails">
		<li class="span5 offset1">
			<div class="thumbnail">
				<img src="assets/images/d4k/sponsors/lampiris.png" alt=""/>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail">
				<img src="assets/images/d4k/sponsors/devoxx4kids.png" alt=""/>
			</div>
		</li>
	</ul>
	<ul class="thumbnails">
		<li class="span2 offset2">
			<div class="thumbnail">
				<img src="assets/images/d4k/sponsors/isl.gif" alt=""/>
			</div>
		</li>
		<li class="span3">
			<div class="thumbnail">
				<img src="assets/images/d4k/sponsors/fintro.png" alt=""/>
			</div>
		</li>
		<li class="span3" style="padding-top: 20px">
			<div class="thumbnail">
				<img src="assets/images/d4k/sponsors/evs.png" alt=""/>
			</div>
		</li>
	</ul>	
  </div>
  <script>
    function onlyTheseSponsors() {
      if ($("#d4k_sponsors").length == 0) {
        $("footer").show();
      } else {
        if ($("footer:visible").length > 0 && $("#d4k_sponsors").length > 0) {
          $("footer:visible").hide();
        }
        setTimeout(onlyTheseSponsors, 1000);
      }
    };
    setTimeout(onlyTheseSponsors, 1000);
  </script>
</div>
