<h1 ng-bind-html-unsafe="contents('title')"></h1>
<div class="container" style="padding-top: 80px">
  <div id="d4k_main">
    <h1>Wajug organise Devoxx 4 Kids</h1>
    <div id="d4k_wajug" class="row-fluid">
      <div id="d4k_about" class="span8">
        <div id="d4k_us">
			<div><i>"Vos enfants jouent à des jeux sur l'ordinateur. Bientôt ils pourront faire leurs propres jeux!"</i></div>
			<div>Inscrivez vos enfants à la journée du samedi 8 février, et ils apprendront à programmer des jeux et des robots!</div>
        </div>
        <div id="d4k_with">

			<h4>Pourquoi?</h4>
			<div>
				Programmer c’est écrire des instructions pour un ordinateur afin de faire des jeux, comme Angry Birds, mais aussi des applications, des sites webs, etc.
				En apprenant à programmer, vos enfants pourront eux-mêmes créer de telles choses.
				Et qui sait, peut-être l’un d’eux deviendra-t-il le prochain Mark Zuckerberg, créateur de Facebook!
			</div>

			<h4>Comment s'inscrire?</h4>
			<div>En suivant ce lien: XXX</div>
			<div>Afin d'encadrer au mieux les enfants, les places sont limitées aux 30 premières inscriptions.</div>

			<h4>Qui?</h4>
			<div>Ce stage s'adresse aux enfants de 10 à 14 ans.</div>
			<div>Aucune connaissance préalable en informatique n'est nécessaire, c'est la motivation et l'envie d'apprendre qui priment.</div>

			<h4>Quand?</h4>
			<div>Le samedi 8 février 2014, de 9h00 à 14h30. </div>
			
			<h4>Où?</h4>
			<div>A l'Institut Saint-Laurent</div>
			<div>Rue Saint-Laurent, xx</div>
			<div>4000 Liège</div>
			<div>Plan d'accès: XXX</div>
			<div>Parking ??</div>

			<h4>Combien?</h4>
			<div>10€ vous seront demandés en guise de participation aux frais, tels que assurances, snacks et boissons fournies pendant l'activité. </div>

			<h4>Qui sommes-nous?</h4>
			<div>Le WAJUG est un groupe d’utilisateurs qui se rencontrent régulièrement pour parler de leur passion: la programmation, et tout ce qui touche au développement de logiciels, applications, sites webs, etc.</div>



        </div>
      </div>
      <div id="d4k_vids" class="span4">
        <h3>Ambiance au Devoxx4Kids</h3>
	 		<iframe src="//player.vimeo.com/video/81414450?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<p>Ça vous tente? Alors inscrivez-vous et <a href="http://www.facebook.com/wajug.be">parlez en autour de vous!</a></p>
      </div>
    </div>
	
    <div id="d4k_parctical_info">&nbsp;</div>
    <div id="d4k_registration">&nbsp;</div>
    <div id="d4k_sessions">
    <div class="well">
      <h3 ng-bind-html-unsafe="contents('trainers.title')"></h3>
      <div class="row-fluid">
        <div class="span9">
          <h4>Les sessions prévues</h4>
          <ul>
            <li>Scratch</li>
			<li>Lego Mindstorms</li>
            <li>Nao</li>
          </ul>
        </div>
        <div class="span3">
          <h4>Les animateurs</h4>
          <carousel interval="trainersInterval">
            <slide style="min-height:200px" ng-repeat="e in trainers" active="e.active">
              <img ng-src="{{e.image}}" style="margin:auto;">
              <div class="carousel-caption">
                <h4>{{e.name}}</h4>
                <p>{{e.text}}</p>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>
  <!--
  <div id="d4k_links">
    <h3>Liens vers les matériels disponibles pour les gamins</h3>
  </div>
  <div id="d4k_links">
    <h2>Les sponsors pour cet event</h2>
    <div class="sponsors">
      <div ng-repeat="sponsor in sponsors" class="sponsor" title="Click to flip">
        <div class="sponsorFlip">
          <img src="assets/images/sponsors/{{sponsor.image}}" alt="More about {{sponsor.name}}" />
        </div>
        <div class="sponsorData">
          <div class="sponsorDescription" ng-bind-html-unsafe="translate(sponsor.description)"></div>
          <div class="sponsorURL"><a href="http://{{sponsor.site}}" target="_blank">{{sponsor.name}}</a></div>
        </div>
      </div>
	  -->
    </div>
  </div>
</div>